.all-task {
    overflow-x: hidden;
    overflow-y: auto;
    flex-grow: 1;
}

.all-task .tasks {
    overflow-y: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px 0;
    overflow-x: hidden;
}

.all-task .tasks li {
    background-color: white;
    border-radius: 3px;
    padding: 5px 10px;
    min-height: 55px;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    /* cursor: pointer; */
    transform-origin: center center;
    position: relative;
    overflow: hidden;
    margin-right: 5px;
}

.all-task .tasks li.add-animation {
    animation: pop 0.3s linear forwards;
}

.all-task .tasks li.add-animation-x {
    animation: shift 0.3s linear forwards;
}

@keyframes important {
    0% {
        transform: scaleY(0.8);
    }

    5% {
        transform: scaleY(1.1);
    }

    10% {
        transform: scaleY(1);
    }

    20% {
        transform: scaleY(1);
    }

    100% {
        transform: scaleY(1);
    }
}

@keyframes shift {
    0% {
        transform: scale(0.98);
    }

    50% {
        transform: scale(1.00005);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes pop {
    0% {
        transform: scaleY(0.8);
    }

    50% {
        transform: scaleY(1.1);
    }

    100% {
        transform: scaleY(1);
    }
}

.all-task .tasks li .check {
    min-width: 20px;
    min-height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #5f73c1;
    cursor: pointer;
}

.all-task .tasks li.complete .check {
    background-color: #f4f4f4;
}


.all-task .tasks li .check img {
    visibility: hidden;
    transition: all 0.2s linear;
    width: 10px;
}

.all-task .tasks li.complete .check img {
    visibility: visible;
}

.all-task .tasks li .task-name.complete {
    text-decoration: line-through;
}

.all-task::-webkit-scrollbar {
    width: 5px;
}

.all-task::-webkit-scrollbar-track {
    background: #5f73c1;
}

.all-task::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}